@import "http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css";

.ribbon-wrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  font: bold 20px Sans-Serif;
  color: #9ad2b8;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 0 0 0 0;
  right: 35px;
  top: 30px;
  width: 175px;
  margin: 0 3px 0 3px;
  background-color: #9ad2b8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#65a33f), to(#9ad2b8));
  background-image: -webkit-linear-gradient(top, #9ad2b8, #8EBF45);
  background-image:    -moz-linear-gradient(top, #9ad2b8, #8EBF45);
  background-image:     -ms-linear-gradient(top, #9ad2b8, #8EBF45);
  background-image:      -o-linear-gradient(top, #9ad2b8, #8EBF45);
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #6e8900;
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}
.ribbon:after {
  right: 0;
}

body {
  background-color: #9ad2b8;
  padding: 20px 20px 20px 20px;
}

.jumbotron {
  background-color: #ebe1cb;
  position: relative;
  height: 600px;
  border: #f2b65a 20px solid;
  outline: #e1592d 25px solid;
  overflow: scroll;
  margin: 50px 100px 50px 100px;
}

.jumbotron .container {
}

.jumbotron h1 {
  text-align: center;
  display: block;
  font-size: 4em;
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #65a33f;
}

.jumbotron ul {
  display: block;
  text-align: left;
  padding: 10px 10px 0 10px;
  margin-left: 0px;
  color: #e1592d;
  font-size: 1.3em;
  line-height: 2em;
}

.jumbotron ul a {
  color: #dea267;
}

.jumbotron ul a:hover {
  color: #f2b65a;
  text-decoration: none;
}

.jumbotron .fa-ul i {
  color: #65a33f;
}

.circular-menu {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  position: relative;
}

.circle {
  width: 250px;
  height: 250px;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.open.circle {
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.circle a {
  text-decoration: none;
  color: #65a33f;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  text-align: center;

}

.circle a:hover {
  color: #e1592d;
}

.menu-button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 22px);
  text-decoration: none;
  color: #65a33f;
  border-radius: 50%;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 10px;
  background: transparent;
}

.menu-button:hover {
  color: #dd4814;
  text-decoration: none;
}
