body {
  background-color: #5e2750;

}

.jumbotron {
  position: relative;
  height: 300px;
  border: black 5px solid;
  text-align: center;
  top: 10em;
  overflow: auto;
  margin: 35px;
  opacity: 0.8;
}

.jumbotron .container {
  position: absolute;
}

.jumbotron h1 {
  display: inline;
  text-align: center;
  font-size: 4em;
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: bold;
}

.jumbotron p {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.btn-group {
  z-index: 1;
}
