body {
  background-color: #5e2750;
  padding: 20px 20px 20px 20px;
}

.jumbotron {
  position: relative;
  height: 325px;
  border: #2c001e 5px solid;
  text-align: center;
  top: 10em;
  overflow: auto;
  margin: 35px;
  opacity: 0.7;
}

.jumbotron .pull-left .pull-right li {
  z-index: 5;
  font-size: 1em;
}

.jumbotron .container {
  position: absolute;
  z-index: 0;
}

.jumbotron h1 {
  display: inline;
  text-align: center;
  font-size: 4em;
  font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #dd4814;
}

.jumbotron p {
  text-align: center;
  padding: 10px 10px 10px 10px;
}
